[Unit]
Description=my decrypt service
After=network.target

[Service]
ExecStart=/home/user/crypter-decrypter/script/decrypt.sh
Restart=always

[Install]
WantedBy=multi-user.target
